body {
    background: rgb(115, 61, 240);
    font: normal 15pt Arial;
}

header {
    color: rgb(246, 215, 39);
    text-align: center;
}

section {
    background: rgb(246, 215, 39);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    text-align: center;
    font-weight: bold;  
}

#number {
    width: 100px;
}

#number, #res {
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}

.bt {
    background-color: rgb(248, 248, 248);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    display: inline-block;
    cursor:pointer;
    font-weight:bold;
    font-size:16px;
    padding: 8px 8px;
    text-decoration:none;
    }

    footer {
        color: rgb(246, 215, 39);
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }